<div class="container">
    <h3> Adventure Books </h3>
    <br />
  
    <div class="d-flex w-100 text-right pb-4">
        <button *ngIf="!loggedIn" type="button" class="btn btn-primary" (click)="onLogin()">Login</button>
        <button *ngIf="loggedIn" type="button" class="btn btn-warning" (click)="onLogout()">Logout</button>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-primary ml-4" (click)="onAddBook()">Add Book</button>
    </div>
    <books-list></books-list>
  </div>